* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

.form-area {
    min-height: 75vh;
    display: grid;
    place-items: center;
}
.grid-area {
    min-height: 75vh;
    margin: 2rem 0rem;
    width: 80%;
    margin: 0 auto;
}

.square {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #1d8a7b;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}