* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

.form-area {
    min-height: 75vh;
    display: grid;
    place-items: center;
}
.grid-area {
    min-height: 75vh;
    margin: 2rem 0rem;
    width: 80%;
    margin: 0 auto;
}

.square {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #206b62;
    border: 2px solid #b2b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
}
.square:hover{
    cursor: pointer;
    background-color: #31d1bc;
    border: 2px solid #f0ecec;
}
.resultBoard {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ff8888;
    width: 60vw;
    height: 60vh;
    border: 5px solid black;
    border-radius: 5rem;
}
.resultImage {
    margin: 0.5rem 0;
    justify-self: start;
}

.resultText {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin: 0 1rem;
}
.restartButton{
    padding: 0.5em;
    display: block;
    margin: 0.5rem auto;
    width: 10rem;
    background: #206b62;
    color: white;
    border: 5px solid #313030;
    border-radius: 3rem;
    transition: all 0.5s;
    font-size: 0.9rem;
}
.restartButton:hover{
    border: 5px solid white;
    transform: translateY(2px);
}