/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
li {
    list-style: none;
}
/* FORMULAIRE */
.form-area {
    min-height: 75vh;
    display: grid;
    place-items: center;
}
/* TERRAIN */
.grid-area {
    min-height: 75vh;
    margin: 2rem 0rem;
    width: 80%;
    margin: 0 auto;
}
.square {
    cursor: pointer;
    width: 100px;
    height: 100px;
    /*background:  url(public/img/flag_little.png) no-repeat center center / cover;*/
    background-color: #206b62;
    border: 2px solid #b2b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
}
.square:hover{
    cursor: pointer;
    background-color: #31d1bc;
    border: 2px solid #f0ecec;
}
.flag{
    background: url("public/img/flag_little.png");
}

/* TABLEAU FIN DE PARTIE (RESULTATS) */
.result-board {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: #ff8888;
    width: 60vw;
    min-height: 60vh;
    border: 5px solid black;
    border-radius: 5rem;
}
.result-image {
    margin: 0.5rem 0;
    justify-self: start;
}

.result-text {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin: 0 1rem;
    text-shadow: 2px 2px 2px black;
}
/* REDEMARRAGE DU JEU */
.restart-button{
    padding: 0.5em;
    display: block;
    margin: 0.5rem auto;
    width: 15rem;
    background: #206b62;
    color: white;
    border: 5px solid #313030;
    border-radius: 3rem;
    transition: all 0.5s;
    font-size: 1.2rem;
}
.restart-button:hover{
    border: 5px solid white;
    transform: translateY(2px);
}

/* TABLEAU DES SCORES DES PARTIES */
.scores-board, .rules-board{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: #5ab28a;
    width: 90vw;
    min-height: 80vh;
    border: 5px solid black;
    border-radius: 5rem;
    z-index: 99;
}
.scores-image {
    margin: 0.5rem 0;
    justify-self: start;
}

.scores-text {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin: 0 1rem;
    text-shadow: 2px 2px 2px black;
}
.scores-button{
    padding: 0.5em;
    display: block;
    margin: 0.5rem auto;
    width: 15rem;
    background: #5ab28a;
    color: white;
    border: 5px solid #313030;
    border-radius: 3rem;
    transition: all 0.5s;
    font-size: 1.2rem;
}
.scores-button:hover{
    border: 5px solid white;
    transform: translateY(2px);
}
.scores-close, .scores-save{
    padding: 0.5em;
    display: block;
    margin: 0.5rem auto;
    width: 15rem;
    background: #206b62;
    color: white;
    border: 5px solid #313030;
    border-radius: 3rem;
    transition: all 0.5s;
    font-size: 1.2rem;
}
.scores-save {
    background: #1e6e7f;
}
.scores-close:hover, .scores-save:hover{
    border: 5px solid white;
    transform: translateY(2px);
}

